<nav class="bg-white shadow-md text-neutral-600 flex justify-around items-center px-8 py-4">
  <!-- Logo -->
  <a href="" class="text-xl font-bold">JobTracker</a>

  <!-- Nav Links -->
  <div class="flex space-x-8 text-sm font-medium">
    <a href="" class="hover:text-black transition">Dashboard</a>
    <a href="" class="hover:text-black transition">My Applications</a>
    <a href="" class="hover:text-black transition">Add Job</a>
  </div>

  <!-- Login Button -->
  <a routerLink="auth/signup" class="btn bg-black text-white hover:cursor-pointer hover:bg-neutral-800">Login</a>
</nav>
