<div class="container mt-4">
  <h2 class="text-center mb-4">Add New Job</h2>

  <div class="card p-4 shadow-sm">
    <!-- Form-->
    <form [formGroup]="jobForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="company" class="form-label">Company Name:</label>
        <input
          type="text"
          id="company"
          class="form-control"
          formControlName="company"
        />
        <small
          class="text-danger"
          *ngIf="
            jobForm.get('company')?.invalid && jobForm.get('company')?.touched
          "
        >
          Company name is required.
        </small>
      </div>

      <!-- Job Title -->
      <div class="mb-3">
        <label for="title" class="form-label">Job Title:</label>
        <input
          type="text"
          id="title"
          class="form-control"
          formControlName="title"
        />
        <small
          class="text-danger"
          *ngIf="jobForm.get('title')?.invalid && jobForm.get('title')?.touched"
        >
          Job Title is required.
        </small>
      </div>

      <!-- Location -->
      <div class="mb-3">
        <label for="location" class="form-label">Location:</label>
        <input
          type="text"
          id="location"
          class="form-control"
          formControlName="location"
        />
        <small
          class="text-danger"
          *ngIf="
            jobForm.get('location')?.invalid && jobForm.get('location')?.touched
          "
        >
          Job Title is required.
        </small>
      </div>

      <!-- Status -->
      <div class="mb-3">
        <label for="status" class="form-label">Status:</label>
        <select id="status" class="form-select" formControlName="status">
          <option value="APPLIED">Applied</option>
          <option value="INTERVIEW_SCHEDULED">Interview Scheduled</option>
          <option value="INTERVIEWED">Interviewed</option>
          <option value="OFFER_RECEIVED">Offer Received</option>
          <option value="ACCEPTED">Accepted</option>
          <option value="REJECTED">Rejected</option>
          <option value="WITHDRAWN">Withdrawn</option>
          <option value="NO_RESPONSE">No Response</option>
        </select>
        <small
          class="text-danger"
          *ngIf="
            jobForm.get('status')?.invalid && jobForm.get('status')?.touched
          "
        >
          Current job application status is required.
        </small>
      </div>

      <!-- Date Applied -->
      <div class="mb-3">
        <label for="dateApplied" class="form-label">Date Applied:</label>
        <input
          type="date"
          id="dateApplied"
          class="form-control"
          formControlName="dateApplied"
        />
        <small
          class="text-danger"
          *ngIf="
            jobForm.get('dateApplied')?.invalid &&
            jobForm.get('dateApplied')?.touched
          "
        >
          Application Date is required.
        </small>
      </div>

      <!-- Link -->
      <div class="mb-3">
        <label for="link" class="form-label">Link:</label>
        <input
          type="text"
          id="link"
          class="form-control"
          formControlName="link"
        />
        <small
          class="text-danger"
          *ngIf="jobForm.get('link')?.invalid && jobForm.get('link')?.touched"
        >
          Link is required.
        </small>
      </div>

      <!-- Description -->
      <div class="mb-3">
        <label for="description" class="form-label">Description:</label>
        <textarea
          type="textarea"
          rows="3"
          id="description"
          class="form-control"
          formControlName="description"
        ></textarea>
      </div>

      <!-- Salary -->
      <div class="mb-3">
        <label for="salary" class="form-label">Salary:</label>
        <input
          type="number"
          id="salary"
          class="form-control"
          formControlName="salary"
        />
      </div>

      <!-- Notes -->
      <div class="mb-3">
        <label for="notes" class="form-label">Notes:</label>
        <input
          type="text"
          id="notes"
          class="form-control"
          formControlName="notes"
        />
      </div>

      <!-- Error Message -->
      <div class="text-center my-2">
        <small class="text-danger">{{ errorMessage }}</small>
      </div>

      <!-- Buttons -->
      <div class="d-flex justify-content-between">
        <!-- Cancel Button -->
        <button
          type="button"
          class="btn btn-outline-secondary"
          (click)="cancel()"
        >
          Cancel
        </button>

        <!-- Submit Button -->
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="jobForm.invalid"
        >
          Save Job
        </button>
      </div>
    </form>
  </div>
</div>
