<div class="container mt-4">
  <h2 class="text-center mb-4">Login</h2>

  <div class="card p-4 shadow-sm mx-auto" style="max-width: 400px">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- Username -->
      <div class="mb-3">
        <label for="email" class="form-label">Username:</label>
        <input
          type="text"
          id="username"
          class="form-control"
          formControlName="username"
          required
        />
        <small
          *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.errors?.['required']"
          class="text-danger"
        >
          Username is required.
        </small>
        <small
          *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.errors?.['minlength']"
          class="text-danger"
        >
          Username must be at least 3 characters long.
        </small>
      </div>

      <!-- Password Field -->
      <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input
          type="password"
          id="password"
          class="form-control"
          formControlName="password"
          required
        />
        <small
          *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['required']"
          class="text-danger"
        >
          Password is required.
        </small>
        <small
          *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['minlength']"
          class="text-danger"
        >
          Password must be at least 8 characters long.
        </small>
      </div>

      <!-- Button -->
      <div class="d-flex justify-content-center">
        <button
          type="submit"
          class="btn btn-primary form-control"
          [disabled]="loginForm.invalid"
        >
          Login
        </button>
      </div>
    </form>

    <!-- Error Message -->
    <div class="text-center mt-2">
      <small class="text-danger">{{ errorMessage }}</small>
    </div>

    <!-- Additional Links -->
    <div class="mt-3 text-center">
      <a routerLink="/auth/forgot-password" class="text-primary"
        >Forgot Password?</a
      >
    </div>
    <div class="mt-2 text-center">
      <span>Don't have an account? </span>
      <a routerLink="/auth/signup" class="text-primary">Sign up here!</a>
    </div>
  </div>
</div>
