<div class="container mt-4">
  <h2 class="text-center mb-4">Job Applications</h2>

  <!-- Summary Cards -->
  <div class="row mb-4">
    <div class="col-md-2">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Total Applications</h5>
          <p class="card-text" style="font-size: 24px">
            {{ totalApplications }}
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Interviews Completed</h5>
          <p class="card-text" style="font-size: 24px">
            {{ statusCounts[JobStatus.INTERVIEWED] }}
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Offers Received</h5>
          <p class="card-text" style="font-size: 24px">
            {{ statusCounts[JobStatus.OFFER_RECEIVED] }}
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Offers Accepted</h5>
          <p class="card-text" style="font-size: 24px">
            {{ statusCounts[JobStatus.ACCEPTED] }}
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Applications Rejected</h5>
          <p class="card-text" style="font-size: 24px">
            {{ statusCounts[JobStatus.REJECTED] }}
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">No Response</h5>
          <p class="card-text" style="font-size: 24px">
            {{ statusCounts[JobStatus.NO_RESPONSE] }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Search and Add Job -->
  <div class="row mb-3 justify-content-center">
    <div class="col-md-12 d-flex justify-content-between align-items-center">
      <!-- Search Section -->
      <div class="input-group w-75">
        <input
          type="text"
          placeholder="Search Jobs"
          class="form-control"
          [(ngModel)]="searchTerm"
        />
        <button class="btn btn-outline-primary">Search</button>
      </div>

      <!-- Add Job Button -->
      <button class="btn btn-primary" [routerLink]="['/job/create']">
        + Add Job
      </button>
    </div>
  </div>

  <!-- Job List Table -->
  <div class="table-responsive" *ngIf="jobs.length; else noJobs">
    <table class="table table-bordered table-hover text-center">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Company</th>
          <th scope="col">Job Position</th>
          <th scope="col">Location</th>
          <th scope="col">Status</th>
          <th scope="col">Date applied</th>
          <th scope="col">View Details</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let job of jobs">
          <td>{{ job.company }}</td>
          <td>{{ job.title }}</td>
          <td>{{ job.location }}</td>
          <td>{{ job.status }}</td>
          <td>{{ job.dateApplied | date : "dd.MM.yyyy" }}</td>
          <td>
            <button
              class="btn btn-sm btn-outline-primary mx-1"
              [routerLink]="['/edit', job.id]"
            >
              Edit
            </button>
            <button
              class="btn btn-sm btn-primary mx-1"
              [routerLink]="['/details', job.id]"
            >
              View
            </button>
            <button
              class="btn btn-sm btn-danger mx-1"
              (click)="deleteJob(job.id)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #noJobs>
    <p class="text-danger text-center">
      No applications sent yet! <br />
      Click the add job button to add your first job application!
    </p>
  </ng-template>
</div>
