<div class="container mt-4">
  <h2 class="text-center mb-4">Job Applications</h2>

  <!-- Search and Add Job -->
  <div class="row mb-3 justify-content-center">
    <div class="col-md-12 d-flex justify-content-between align-items-center">
      <!-- Search Section -->
      <div class="input-group w-75">
        <input
          type="text"
          placeholder="Search Jobs"
          class="form-control"
          [(ngModel)]="searchTerm"
        />
        <button class="btn btn-outline-primary" (click)="searchJobs()">
          Search
        </button>
      </div>

      <!-- Add Job Button -->
      <button class="btn btn-primary" [routerLink]="['/job/create']">
        + Add Job
      </button>
    </div>
  </div>

  <!-- Job List Table -->
  <div class="table-responsive">
    <table class="table table-bordered table-hover text-center">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Company</th>
          <th scope="col">Job Position</th>
          <th scope="col">Location</th>
          <th scope="col">Status</th>
          <th scope="col">Date applied</th>
          <th scope="col">View Details</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let job of jobs">
          <td>{{ job.company }}</td>
          <td>{{ job.title }}</td>
          <td>{{ job.location }}</td>
          <td>{{ job.status }}</td>
          <td>{{ job.dateApplied | date : "dd.MM.yyyy" }}</td>
          <td>
            <button class="btn btn-sm btn-outline-primary">View</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
